
p {
  color: #FFFFFF;
  font-family: helvetica;
}
h2{
  color: #FFFFFF;
  font-family: helvetica;

}
body {
color: #FFFFFF;

}
.background-section{
  background-color: #366E4D;
  background-image:linear-gradient(to bottom, #366E4D, #42835E);
  width: 100%;

}
.container-fluid  {

  margin: 0px;
  padding: 0px;
}
.header-logo {
  position: absolute;
  top: 30px;
  left: 60px;
  width: 10%;
}
.title-header {
  color: #FFFFFF;
}
.bulle-pierre {
  background-image: url(file:///Users/julienbonnanfant/Documents/YnovB2/Cours/Web/Boot//src/bulle-pierre.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
.bulle-paul {
  background-image: url(file:///Users/julienbonnanfant/Documents/YnovB2/Cours/Web/Boot//src/bulle-paul.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
.bulle-jack {
  background-image: url(file:///Users/julienbonnanfant/Documents/YnovB2/Cours/Web/Boot//src/bulle-jack.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
.card {
  border-radius:12px;
  background-color: #91B575;
  color: #FFFFFF;
  border:none;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
}
.btn-primary{
  background-color: #366E4D;
  border-radius: 26px;
}
.btn-secondary{
  background-color: #91B575;
  border: none;
  border-radius: 26px;

}
